# Working .htaccess for Solace
Options -MultiViews
DirectoryIndex Index.php

RewriteEngine On
RewriteBase /~ks9700/iste-341/Event_Horizon_Milestone4/

# Skip real files/folders
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Capture path and pass as url parameter
RewriteRule ^(.*)$ Index.php?url=$1 [QSA,L]
